<ion-view view-title="Account" style="background: url(img/ben.png);">
  <ion-content>
  	<div class="box">
  		<img src="img/ionic.png" style="margin-left:30%"/>
  	</div>
  	<input type="text" placeholder="用户名" style="width:75%;height:.5rem;margin-left:5%;background: white;border-bottom: 1px,solid,gray;"/>
  	
  	<input type="text" placeholder="密码" style="width:75%;height:.5rem;margin-left:5%;background: white"/>
  	
  	<button class="button button-positive" style="margin-top: 1rem;margin-left:5%;width:75%;height:auto">登录</button>
  	<div style="width:100%;height:40px;margin-top: 1rem">
  	<div style="float:left">注册</div>  <div style="float:right">忘记密码</div>
  	</div>
     </ion-content>
</ion-view>
