<ion-view view-title="Dashboard" hide-nav-bar="true">

<ion-header-bar align-title="center">
	mycourse
	<div style="float:right">编辑</div>
</ion-header-bar>
		
		<ion-item>
			<ion-delete-button></ion-delete-button>
			
			
		</ion-item>
		<ion-item>
		<ion-option-button></ion-option-button>
		</ion-item>
	</ion-list>
</ion-view>

<!--<ion-list show-delete="ss">
	<ion-item>
<ion-delete-button></ion-delete-button>
<ion-option-button></ion-option-button>
<ion-option-button></ion-option-button>
</ion-item>
</ion-list>-->