<ng-view hide-tabs="true" hide-nav-bar="true" class="firstEnterSlide">
	<style type="text/css">
		.firstEnterSlide .slider,.slider-slide .lunbobox{
			width: 100%;
			height: 100%;
		}
	</style>
	<ion-slide-box auto-play="true" does-continue="false" show-pager="true">
		<ion-slide>
			<div class="lunbobox" style="background: url(img/Ncontact1.jpg) no-repeat;background-size:100% 100% ;"></div>
		</ion-slide>
		<ion-slide>
			<div class="lunbobox" style="background: url(img/adam.jpg) no-repeat;background-size:100% 100% ;"></div>
		</ion-slide>
		<ion-slide>
			<div class="lunbobox" style="background: url(img/ben.png) no-repeat;background-size:100% 100% ;">
				<div style="height:10rem"></div>
				<div class="row">
					<div class="col" style="text-align: center;"><button class="button button-light" ng-click="toIndex()">进入主页</button></div>
				</div>
			</div>
		</ion-slide>
	</ion-slide-box>
</ng-view>