<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/angular.min.js"></script>
	</head>
	<body>
		<div ng-app="myapp" ng-controller="Ctrl">
			<p>电影：{{$root.lastName}}</p>
			<h3 ng-repeat="x in names">{{x}} {{lastName}}</h3>
		</div>
		<div ng-app="myapp1" ng-controller="Ctrl" id="asd">
			<p>电影：{{$root.lastName}}</p>
			<ul>
				<li ng-repeat="x in names">{{x}}</li>
				<!--<li ng-repeat="x in names">{{x}}</li>
				<li ng-repeat="x in names">{{x}}</li>-->
			</ul>
		</div>
	</body>
	<script>
		var app=angular.module("myapp",[])
		app.controller("Ctrl",function($scope,$rootScope){
			$scope.names=['email','xigua','apple'];
			$rootScope.lastName="世纪大战1";
		})
		
		var app1=angular.module("myapp1",[])
		app1.controller("Ctrl",function($scope,$rootScope){
			$scope.names=['vivo','huawei','phone'];
			$rootScope.lastName="世纪大战2";
		})
		
		angular.bootstrap(document.getElementById("asd"),["myapp1"])
	</script>
</html>
