<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="js/angular.min.js"></script>
	</head>

	<body ng-app="myApp" ng-controller="myCont">
		<input type="number" ng-model="num1" />
		<span>+</span>
		<input type="number" ng-model="num2" />
		<br /> {{num1}} 二：{{num2}} 得出：{{num1+num2}}

		<br />
		<input type="number" ng-model="num3" /><button id="btn">弹出</button>
		<br />
		{{num3}}
		<br />
		
		现在的name:<input type="radio" ng-model="num4" value="张三" />张三
				<input type="radio" ng-model="num4" value="李四" />李四
				<input type="radio" ng-model="num4" value="王五" />王五
			{{num4}}
	
	
		<div ng-init="mySwitch=true">
			
			<p>
				<input type="checkbox" ng-model="mySwitch" />按钮
			</p>
			<p>
				{{ mySwitch }}
			</p>
		</div>

		
	</body>

</html>
<script type="text/javascript">
	var btn = document.getElementById("btn");
	var app = angular.module("myApp", []);

	app.controller("myCont", function($scope) {
		$scope.num1 = 1;
		$scope.num2 = 2;
		
		btn.onclick = function() {
			alert($scope.num3+1)
		}

	})
</script>