<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<script src="js/angular.min.js"></script>
	<style>
		.aa{
			border: 3px solid #fff;
		}
		.bb{
			border: 3px solid #f00;
		}
	</style>
</head>
<body ng-app="a" ng-controller="b">
	<table ng-class="aa">
		<tr ng-class="bb">
			<th colspan="2">
				标题主页
			</th>
		</tr>
		<tr>
			<td>
				<div ng-repeat="x in result">{{x}}</div>
			</td>
			<td>
				<div ng-repeat="x in result">{{x}}</div>
			</td>
		</tr>
		<tr>
			<td>
				<div ng-repeat="x in result">{{x}}</div>
			</td>
			<td>
				<div ng-repeat="x in result">{{x}}</div>
			</td>
		</tr>
	</table>
	<script>
		var a = angular.module("a",[]);
		a.controller("b",function($scope){
			$scope.result = [
				"<img src=''img/21.jpg>",
				"1111111",
				"2222222"
			]
		})
	</script>
</body>
</html>