*{
				margin: 0;
				padding: 0;
				list-style: none;
			}
			.contain{
				width: 600px;
				height: 600px;
				margin: 0 auto;
				border: 1px solid black;
			}
			.z{
				width: 598px;
				height: 50px;
				border: 1px solid red;
				font-size: 30px;
				text-align: center;
			}
			.bottom{
				width: 590px;
				height: 538px;
				border: 5px solid black;
			}
			.bottom ul li{
				width: 280px;
				height: 200px;
				margin: 25px 6px;
				border: 1px solid black;
				float: left;
				font-size: 15px;
			}
			.bottom ul li img{
				width: 280px;
				height: 200px;
			}