<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/angular.min.js"></script>
	</head>
	<body>
		<div ng-app="myApp" ng-controller="myCtrl">
			检查状态：{{num}}
			<input type="checkbox" ng-model="num" />
			<br />
			<input type="number" ng-model="num1" />
			<button id="cli">click me</button>
		</div>
	</body>
</html>
<script>
		var app=angular.module("myApp",[])
		var	cli=document.querySelector("#cli")
			app.controller("myCtrl",function($scope){
			cli.onclick=function(){
			alert($scope.num1+1)
		}	
	})
</script>