<ion-tabs class="tabs-icon-top tabs-color-active-positive">
	
	<!--首页 Tab-->
	<ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
		<ion-nav-view name="tab-home"></ion-nav-view>
	</ion-tab>
	
	<!--课程列表 Tab-->
	<ion-tab title="课程列表" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/lessonlist">
		<ion-nav-view name="tab-lessonlist"></ion-nav-view>
	</ion-tab>
	
	<!--我的课程 Tab-->
	<ion-tab title="我的课程" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/mycourse">
		<ion-nav-view name="tab-mycourse"></ion-nav-view>
	</ion-tab>
	
	<!--个人中心 Tab-->
	<ion-tab title="个人中心" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/personal">
		<ion-nav-view name="tab-personal"></ion-nav-view>
	</ion-tab>
	
</ion-tabs>
