<ion-view view-title="Chats" hide-nav-bar="true">
		<ion-header-bar class="item-input-inset">
		<label class="item-input-wrapper">
			  <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="text" placeholder="请输入搜索词" >
    </label>
	</ion-header-bar>

	<ion-content>
		<ion-list>
			<div class="item">
			<div style="width: 45%;float: left;text-align: center;" ng-click="aa()" ng-style="myobj">
				课程列表
				<i class=" ion-chevron-down"></i>
			</div>
			<div style="width: 10%;float:left;text-align: center;" >
				|
			</div>
			<div style="width: 45%;float: left;text-align: center;" ng-click="bb()" ng-style="myojj">
				价格
				<i class=" ion-chevron-down"></i>
			</div>
		</div>
			<div class="item item-body" ng-show="cccc">
				<div class="row" ng-repeat="x in lessons">
					<div class="col col-25" ng-repeat="y in x">
						<button style="width: 1.5rem;height: 1rem;">{{y.title}}</button>
					</div>
				</div>
			</div>
			<div class="item" ng-repeat="z in datas" ng-show="dddd">
				{{z}}
			</div>
		</ion-list>
		<div class="list card">
			<div class="item" ng-repeat="x in dataq">
					<img ng-src="{{x.img}}" style="height: 3.7rem; width:70%;float: left;"/>
					<div style="float: left;margin: 70px 0px 0 40px;">
						<div>{{x.name}}</div>
						<div>{{x.price}}</div>
					</div>
			</div>
		</div>
	</ion-content>
</ion-view>