<ion-view hide-nav-bar="true">
	
	<div class="bar bar-header">
		<h1 class="title">我的课程</h1>
		<button class="button" ng-click="data.showDelete=!data.showDelete">编辑<tton>
	</div>
	<div style="height: 44px;"></div>
	<div class="row" style="width: 100%;">
		<div class="button col col-50 icon-right ion-chevron-down" ng-click="a()">
			课程列表
		</div>
		<div class="button col col-50 icon-right ion-chevron-down" ng-click="b()">
			价格
		</div>
	</div>

	<ion-content style="margin-top: 2rem;">
		<ion-list show-delete="data.showDelete">
			<ion-item ng-repeat="item in items" class="item-thumbnail-left">

				<img ng-src="{{item.img}}">
				<h2>{{item.name}}</h2>
				<p>{{item.price}}</p>
				<ion-option-button class="button-positive" ng-click="share(item)">
					分享
				</ion-option-button>
				<ion-option-button class="button-info" ng-click="edit(item)">
					编辑
				</ion-option-button>
				<ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
				</ion-delete-button>

			</ion-item>
		</ion-list>
		<!--<ion-content class="padding">
  </ion-content>-->
</ion-view>
