<ion-view style="background: url(img/register_bg.jpg);padding-top: 1em;">
	<style>
		.clear::before,.clear::after{
			content: "";
			height: 0;
			line-height: 0;
			visibility: hidden;
			display: block;
			clear: both;
		}
	</style>
	<ion-content style="padding-top: 1em;">
<!-------------------------------------------->
		<div>
<!-------------图片--------------->
			<div style="width: 100%;text-align: center;font-size: 30px;color: #fff;">
				注册
			</div>
<!----------用户名-密码------------>
			<div style="width: 90%;margin: 1em 5%;" class="clear">
				<laber>
					<input class="col col-100" style="float: left;height: 3em;" placeholder="用户名"></input>
					<input class="col col-100" style="float: left;height: 3em;" placeholder="邮箱"></input>
					<input class="col col-100" style="float: left;height: 3em;" placeholder="手机号"></input>
					<input class="col col-100" style="float: left;height: 3em;" placeholder="密码"></input>
					<input class="col col-100" style="float: left;height: 3em;" placeholder="再次输入密码"></input>
				</laber>
			</div>
<!-------------完成--------------->
			<div style="width: 95%;margin: 1em 2.5%;">
				<div class="button button-calm col col-100">
					完成
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
