<ion-view view-title="课程列表" hide-nav-bar="true">
  <style>
    .col_spe {
      text-align: center;
    }

    .row_spe {
      background: #e8e8e8;
      border-bottom: 1px solid #ccc;
    }

    .lessondetail {
      background: #e8e8e8;
      padding-bottom: 8px;
      overflow: hidden;
    }

    .lessondetail li {
      float: left;
      margin-left: 15px;
      margin-top: 5px;
      width: 20%;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 40px;
      text-align: center;
    }

    .lessondetail li button {
      background: #fff;
      color: #333;
    }

    .pricelist {
      width: 100%;
      background: #e8e8e8;
    }

    .pricelist li {
      line-height: 40px;
      border-bottom: 1px solid #ccc;
    }

    .pricelist span {
      margin-left: 59px;
    }

    .item {
      width: 100%
    }

    .wer {
      color: skyblue;
    }

  </style>



  <div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="searchInputText" ng-keyup="myKeyup($event)">
    </label>
  </div>


  <div class="row row_spe">
    <div ng-click="courseList()" ng-class="{'wer':l}" class="col col-50 col_spe" id="lesson" style="border-right:1px solid #ccc">课程列表
      <i class="icon ion-chevron-down" ng-class="{'ion-chevron-up':l}"></i>
    </div>
    <div ng-click="priceList()" ng-class="{'wer':p}" class="col col-50 col_spe" id="price" style="margin-right:0.2rem">价格
      <i class="icon ion-chevron-down" ng-class="{'ion-chevron-up':p}"></i>
    </div>
  </div>

  <ion-content style="margin-top:2.8rem;">

    <div class="lessondetail" ng-show="l">
      <ul>
        <li ng-click="searchList('','{{courseListBtn.sysId}}','')" ng-repeat="courseListBtn in courseListBtns">
          {{courseListBtn.title}}
        </li>
        <li ng-click="searchList('','全部','')">全部</li>
      </ul>
    </div>

    <div class="pricelist" ng-show="p">
      <ul>
        <li ng-click="searchList('','','{{priceBtn.id}}')" ng-repeat="priceBtn in priceBtns">
          <span>{{priceBtn.btnName}}</span>
        </li>
      </ul>
    </div>


    <ion-refresher pulling-text="释放立即刷新" on-refresh="doRefresh()"></ion-refresher>


    <div class="content  ionic-pseudo">
      <div class="list">
        <ul>
          <li class="item item-thumbnail-left" ng-repeat="list in lists" ng-click="tz_study(list.ID)">
            <img ng-src="{{URLAdmin +list.Cpic}}" style="height: auto;">
            <h2>{{list.Cname}}</h2>
            <p>{{list.Cprice}}</p>
          </li>

        </ul>
      </div>
    </div>

    <ion-infinite-scroll on-infinite="loadMore()" distance="20%" ng-if="moreData"></ion-infinite-scroll>

  </ion-content>



</ion-view>
