<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/angular.min.js"></script>
	</head>
	<body ng-app="">
		 
		 <!--<input type="number" ng-model="num1"/>
		 <span>+</span>
		 <input type="number" ng-model="num2" />
		 这是第一个输入的值：{{num1}}
		 <br />
		 这是第二个输入的值：{{num2}}
		 <br />
		 {{"总和："+(num1+num2)}}-->
		 <input type="number" ng-model="wsw" />
		 <span>+</span>
		 <input type="number" ng-model="yyy" />
		 <br/>
		 输入第一个：{{wsw}}
		 <br />
		 输入第二个：{{yyy}}
		 <br />
		 总和：{{wsw+yyy}}
	</body>
</html>
