<ion-view view-title="Dashboard">
	<div class="list">
		<div class="item item-button-right">
			最新课程
			<button class="button button-clear">
				<a>更多</a>
 				<a class="ion icon-right ion-chevron-right button-calm"></a>
			</button>
		</div>
		<div class="item row">
			<div class="col col-50" style="float: left;">
				<img src="img/ben.png" width="100%" />
				<h2>
					java课程
				</h2>
				<p>
					good，good，非常棒
				</p>
			</div>
			<div class="col col-50" style="float: left;">
				<img src="img/ben.png" width="100%" />
				<h2>
					UI/UE
				</h2>
				<p>
					UI，非常棒
				</p>
			</div>
		</div>
		<div class="item row">
			<div class="col col-50" style="float: left;">
				<img src="img/ben.png" width="100%" />
				<h2>
					HTML5和CSS3
				</h2>
				<p>
					棒棒哒，非常棒
				</p>
			</div>
			<div class="col col-50" style="float: left;">
				<img src="img/ben.png" width="100%" />
				<h2>
					jQuery
				</h2>
				<p>
					wuil，jQuery，非常棒
				</p>
			</div>
		</div>
	</div>
</ion-view>
